/COPYING
/INSTALL
/Makefile.in
/aclocal.m4
/autom4te.cache/output.0
/autom4te.cache/output.1
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/traces.1
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/struct-store/Makefile.in
/Makefile
/config.h
/config.h.in
/stamp-h1
/struct-store/.deps/st-tool.Po
/struct-store/.deps/struct-store.Plo
/struct-store/.deps/test.Po
/struct-store/.libs/libstructstore.a
/struct-store/.libs/libstructstore.la
/struct-store/.libs/libstructstore.lai
/struct-store/.libs/libstructstore.so
/struct-store/.libs/libstructstore.so.0
/struct-store/.libs/libstructstore.so.0.0.0
/struct-store/.libs/st-tool
/struct-store/.libs/struct-store.o
/struct-store/.libs/test
/struct-store/Makefile
/struct-store/libstructstore.la
/struct-store/st-tool
/struct-store/st-tool.c~
/struct-store/st-tool.o
/struct-store/struct-store.lo
/struct-store/struct-store.o
/struct-store/test
/struct-store/test.o
/struct-store/.libs/lt-st-tool
/struct-store/.libs/lt-test
/libdpm/.deps/
/libdpm/.libs/
/libdpm/Makefile
/libdpm/Makefile.in
/libdpm/libdpm.la
/libdpm/parse.lo
/libdpm/parse.o
/libdpm/test
/libdpm/test.o
/libdpm/util.lo
/libdpm/util.o
/libdpm/test-store
/libdpm/test-store.o
/libdpm/stream.lo
/libdpm/stream.o
/libdpm/store.lo
/libdpm/store.o
/libdpm/store-tool
/libdpm/store-tool.o
/libdpm/dyn.lo
/libdpm/dyn.o
/libdpm/test-dyn
/libdpm/test-dyn.o
/libdpm/write.lo
/libdpm/write.o
/libdpm/test-conf
/libdpm/test-conf.o
/libdpm/conf.lo
/libdpm/conf.o
/dpm/Makefile.in
/libdpm/acq.lo
/libdpm/acq.o
/libdpm/db.lo
/libdpm/db.o
/libdpm/dpm-store-tool
/libdpm/log
/libdpm/test-db
/libdpm/test-db.o
/libdpm/alg.lo
/libdpm/alg.o
/libdpm/inst.lo
/libdpm/inst.o
